# 
# docker-compose.yml — определяет сервисы для разработки и тестирования.

 # - Настроить сервисы для:
  #    - PostgreSQL (или MySQL) с начальной базой.
  #    - Приложения Spring Boot (если нужно).
  #- Открыть нужные порты (например, 5432, 8080).
  #- Настроить volume для хранения данных БД.

version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"